/* CSS code to style the picture container and images */
#slideshow {
  /* Height of box should roughly match image heights */
  height: 375px;
  text-align: center;
}
/* Size each image to fit container height */
#slideshow img {
  height: 100%;
}
/* Style to fadein */
.fadein {
  opacity: 1;
  transition: all ease-out 0.25s;
}
/* Style to fadeout */
.fadeout {
  opacity: 0;
  transition: all ease-out 0.25s;
}
